header{
	margin-left:15%;
	width: 70%;
	height: 30px;
	margin-top: 5px;
	background: #b0c4de;

}
body{
	background: #DCDCDC;
}
main{
	margin-left:15%;
	width: 70%;
	height: 550px;
	margin-top: 5px;
	background:#f8f8ff;
}